@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand');

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(14, 2, 58);
  padding: 15px 25px;
  color: rgb(215, 215, 215);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(215, 215, 215);
}

figure.sockes-images img {
  width: 400px;
  height: 500px;
  -webkit-box-shadow: 20px 20px 10px -10px rgb(63 54 54);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  border: 1px solid rgba(190, 187, 187, 0.429);
}

section {
  display: flex;
  flex-direction: row;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

article h1 {
  font-size: 2.7em;
}

article p {
  font-size: 1.5em;
}

.addBtn {
  height: 45px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(39, 21, 102);
  color: rgb(215, 215, 215);
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(51, 34, 112);
}

li span.cart {
  border-bottom: 2px dashed white;
}

li span.cart img{
  width: 20px;
}